.footer-text {
  text-align: center;
  font-weight: bold;
  font-family: "Google Sans Regular";
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1.5rem;
}

.footer-div p {
  text-align: center;
  font-weight: bold;
}

.footer-div p span {
  vertical-align: middle;
}
